@media screen and (max-width: 2000px) and (min-width: 1480px) {
  .banner-style, body #content .banner .banner-back .banner-head, body #content .banner .banner-back .banner-desc {
    margin: 0 auto;
    filter: brightness(100%);
    opacity: 1.0;
    z-index: -1;
    background: none; }

  .banner-font, body #content .banner .banner-back .banner-head h1, body #content .banner .banner-back .banner-desc h2 {
    display: inline-flex;
    justify-content: center;
    margin: 0 auto;
    color: #FFFFFF; }

  body {
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    flex-wrap: wrap; }
    body .navigation {
      position: fixed;
      margin-left: 13.33%;
      display: inline-flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      width: 100%;
      margin-top: 1%;
      margin-bottom: 1%; }
      body .navigation #n-primary {
        display: inline-flex;
        flex-wrap: wrap;
        z-index: 2;
        padding-bottom: 0.6%;
        width: 60%; }
        body .navigation #n-primary .nav-divs {
          display: inline-flex;
          margin-right: 2.5%;
          margin-left: 2.5%; }
          body .navigation #n-primary .nav-divs .nav-items {
            text-decoration: none; }
      body .navigation #search {
        margin-left: 65%;
        margin-top: 0%;
        height: 1.5em;
        position: fixed;
        z-index: 2;
        display: inline-flex;
        flex-wrap: wrap;
        /* When the input field gets focus, change its width to 100% */ }
        body .navigation #search input[type=text] {
          width: 130px;
          height: 100%;
          z-index: 1;
          padding-left: 3em;
          border-style: solid;
          border-width: 1px;
          border-radius: 10px;
          -webkit-transition: width 0.4s ease-in-out;
          transition: width 0.4s ease-in-out; }
        body .navigation #search input[type=text]:focus {
          width: 100%; }
        body .navigation #search .icon {
          position: absolute;
          padding-top: 0.05em;
          padding-left: 0.5em;
          z-index: 2; }
    body a {
      color: #000; }
    body #content {
      position: fixed;
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 3%;
      width: 100%;
      height: 30vh;
      z-index: -1; }
      body #content .banner {
        display: inline-flex;
        flex-direction: column;
        margin-top: 0px;
        background: url(../assets/community-members-background.jpg);
        filter: brightness(100%);
        opacity: 0.8;
        width: 100%;
        height: 100%; }
        body #content .banner .banner-back {
          display: inline-flex;
          flex-direction: column;
          justify-content: center;
          background-color: black;
          z-index: -2;
          opacity: 0.5;
          height: 100%; }
          body #content .banner .banner-back .banner-head h1 {
            font-weight: lighter;
            font-size: 4.5em; }
          body #content .banner .banner-back .banner-desc h2 {
            font-size: 2em; }
      body #content .members {
        z-index: -3;
        position: fixed;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        overflow-y: auto;
        margin-top: 35vh; }
        body #content .members .members-title {
          display: inline-flex;
          flex-wrap: wrap;
          justify-content: center;
          margin-top: 6vh; }
          body #content .members .members-title h2 {
            font-size: 3em;
            font-weight: normal; }
        body #content .members .member-tiles-container {
          display: inline-flex;
          justify-content: center;
          flex-wrap: wrap;
          margin: 0 auto;
          height: 25vh;
          width: 75%; }
          body #content .members .member-tiles-container .member-tiles {
            margin-right: 0.2%;
            margin-left: 0.2%;
            display: inline-flex;
            flex-direction: column;
            width: 19%;
            min-width: 200px;
            min-height: 190px; }
            body #content .members .member-tiles-container .member-tiles .member-tile-pic {
              padding-top: 2%;
              display: inline-flex;
              justify-content: center;
              width: 100%; }
              body #content .members .member-tiles-container .member-tiles .member-tile-pic .usr-thumb {
                border-radius: 50%;
                width: 50%;
                height: 50%; }
            body #content .members .member-tiles-container .member-tiles .member-tile-details {
              display: inline-flex;
              justify-content: center;
              flex-direction: column;
              flex-wrap: wrap;
              padding-top: 10%; }
              body #content .members .member-tiles-container .member-tiles .member-tile-details .member-name {
                display: inline-flex;
                justify-content: center;
                flex-wrap: wrap;
                font-size: 1.2em;
                font-weight: bold; }
              body #content .members .member-tiles-container .member-tiles .member-tile-details .member-email {
                display: inline-flex;
                justify-content: center;
                padding-top: 1%;
                flex-wrap: wrap;
                font-size: 0.8em; }
        body #content .members .load-more-div {
          display: inline-flex;
          justify-content: center;
          flex-wrap: wrap;
          margin-top: 2vh;
          margin-left: 0%; }
          body #content .members .load-more-div .btn-load-more {
            background-color: #1E90FF;
            border: none;
            height: 3em;
            border-radius: 8px; }
          body #content .members .load-more-div .btn-link {
            text-decoration: none;
            height: 100%;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            margin: 4px 2px;
            font-size: 16px;
            cursor: pointer; }
    body .footer {
      display: inline-flex;
      position: fixed;
      margin-top: 85vh;
      width: 100%;
      height: 15vh;
      background: #000;
      color: #FFF; }
      body .footer #Copyright {
        margin-right: auto;
        margin-top: 1em;
        margin-left: 13.33%; }
      body .footer #logo {
        margin-left: auto;
        margin-top: 1em;
        margin-right: 13.33%;
        width: 70px;
        height: 30px; } }
@media screen and (max-width: 1479px) and (min-width: 1353px) {
  .banner-style2, body #content .banner .banner-back .banner-head, body #content .banner .banner-back .banner-desc {
    margin: 0 auto;
    filter: brightness(100%);
    opacity: 1.0;
    z-index: -1;
    background: none; }

  .banner-font2, body #content .banner .banner-back .banner-head h1, body #content .banner .banner-back .banner-desc h2 {
    display: inline-flex;
    justify-content: center;
    margin: 0 auto;
    color: #FFFFFF; }

  body {
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    flex-wrap: wrap; }
    body .navigation {
      position: fixed;
      margin-left: 5%;
      display: inline-flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      width: 100%;
      margin-top: 1%;
      margin-bottom: 1%; }
      body .navigation #n-primary {
        display: inline-flex;
        flex-wrap: wrap;
        z-index: 2;
        padding-bottom: 0.6%;
        width: 60%; }
        body .navigation #n-primary .nav-divs {
          display: inline-flex;
          margin-right: 2.5%;
          margin-left: 2.5%; }
          body .navigation #n-primary .nav-divs .nav-items {
            font-size: 90%;
            text-decoration: none; }
      body .navigation #search {
        margin-left: 65%;
        margin-top: 0%;
        height: 1.5em;
        position: fixed;
        z-index: 2;
        display: inline-flex;
        flex-wrap: wrap;
        /* When the input field gets focus, change its width to 100% */ }
        body .navigation #search input[type=text] {
          width: 130px;
          height: 100%;
          z-index: 1;
          padding-left: 3em;
          border-style: solid;
          border-width: 1px;
          border-radius: 10px;
          -webkit-transition: width 0.4s ease-in-out;
          transition: width 0.4s ease-in-out; }
        body .navigation #search input[type=text]:focus {
          width: 100%; }
        body .navigation #search .icon {
          position: absolute;
          padding-top: 0.05em;
          padding-left: 0.5em;
          z-index: 2; }
    body a {
      color: #000; }
    body #content {
      position: fixed;
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 3%;
      width: 100%;
      height: 30vh;
      z-index: -1; }
      body #content .banner {
        display: inline-flex;
        flex-direction: column;
        margin-top: 0px;
        background: url(../assets/community-members-background.jpg);
        filter: brightness(100%);
        opacity: 0.8;
        width: 100%;
        height: 85%; }
        body #content .banner .banner-back {
          display: inline-flex;
          flex-direction: column;
          justify-content: center;
          background-color: black;
          z-index: -2;
          opacity: 0.5;
          height: 100%; }
          body #content .banner .banner-back .banner-head h1 {
            font-weight: lighter;
            font-size: 4.5em; }
          body #content .banner .banner-back .banner-desc h2 {
            font-size: 2em; }
      body #content .members {
        z-index: -3;
        position: fixed;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        overflow-y: auto;
        margin-top: 35vh; }
        body #content .members .members-title {
          display: inline-flex;
          flex-wrap: wrap;
          justify-content: center;
          margin-top: 6vh; }
          body #content .members .members-title h2 {
            font-size: 3em;
            font-weight: normal; }
        body #content .members .member-tiles-container {
          display: inline-flex;
          justify-content: center;
          flex-wrap: wrap;
          margin: 0 auto;
          height: 25vh;
          width: 75%; }
          body #content .members .member-tiles-container .member-tiles {
            margin-right: 0.2%;
            margin-left: 0.2%;
            display: inline-flex;
            flex-direction: column;
            width: 19%;
            min-width: 200px;
            min-height: 190px; }
            body #content .members .member-tiles-container .member-tiles .member-tile-pic {
              padding-top: 2%;
              display: inline-flex;
              justify-content: center;
              width: 100%; }
              body #content .members .member-tiles-container .member-tiles .member-tile-pic .usr-thumb {
                border-radius: 50%;
                width: 50%;
                height: 50%; }
            body #content .members .member-tiles-container .member-tiles .member-tile-details {
              display: inline-flex;
              justify-content: center;
              flex-direction: column;
              flex-wrap: wrap;
              padding-top: 10%; }
              body #content .members .member-tiles-container .member-tiles .member-tile-details .member-name {
                display: inline-flex;
                justify-content: center;
                flex-wrap: wrap;
                font-size: 1.2em;
                font-weight: bold; }
              body #content .members .member-tiles-container .member-tiles .member-tile-details .member-email {
                display: inline-flex;
                justify-content: center;
                padding-top: 1%;
                flex-wrap: wrap;
                font-size: 0.8em; }
        body #content .members .load-more-div {
          display: inline-flex;
          justify-content: center;
          flex-wrap: wrap;
          margin-top: 2vh;
          margin-left: 0%; }
          body #content .members .load-more-div .btn-load-more {
            background-color: #1E90FF;
            border: none;
            height: 3em;
            border-radius: 8px; }
          body #content .members .load-more-div .btn-link {
            text-decoration: none;
            height: 100%;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            margin: 4px 2px;
            font-size: 16px;
            cursor: pointer; }
    body .footer {
      display: inline-flex;
      position: fixed;
      margin-top: 85vh;
      width: 100%;
      height: 15vh;
      background: #000;
      color: #FFF; }
      body .footer #Copyright {
        margin-right: auto;
        margin-top: 1em;
        margin-left: 5%; }
      body .footer #logo {
        margin-left: auto;
        margin-top: 1em;
        margin-right: 5%;
        width: 70px;
        height: 30px; } }
@media screen and (max-width: 1352px) and (min-width: 1341px) {
  .banner-style3, body #content .banner .banner-back .banner-head, body #content .banner .banner-back .banner-desc {
    margin: 0 auto;
    filter: brightness(100%);
    opacity: 1.0;
    z-index: -1;
    background: none; }

  .banner-font3, body #content .banner .banner-back .banner-head h1, body #content .banner .banner-back .banner-desc h2 {
    display: inline-flex;
    justify-content: center;
    margin: 0 auto;
    color: #FFFFFF; }

  body {
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    flex-wrap: wrap; }
    body .navigation {
      position: fixed;
      margin-left: 5%;
      display: inline-flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      width: 100%;
      margin-top: 1%;
      margin-bottom: 1%; }
      body .navigation #n-primary {
        display: inline-flex;
        flex-wrap: wrap;
        z-index: 2;
        padding-bottom: 0.6%;
        width: 60%; }
        body .navigation #n-primary .nav-divs {
          display: inline-flex;
          margin-right: 2.5%;
          margin-left: 2.5%; }
          body .navigation #n-primary .nav-divs .nav-items {
            font-size: 90%;
            text-decoration: none; }
      body .navigation #search {
        margin-left: 65%;
        margin-top: 0%;
        height: 1.5em;
        position: fixed;
        z-index: 2;
        display: inline-flex;
        flex-wrap: wrap;
        /* When the input field gets focus, change its width to 100% */ }
        body .navigation #search input[type=text] {
          width: 130px;
          height: 100%;
          z-index: 1;
          padding-left: 3em;
          border-style: solid;
          border-width: 1px;
          border-radius: 10px;
          -webkit-transition: width 0.4s ease-in-out;
          transition: width 0.4s ease-in-out; }
        body .navigation #search input[type=text]:focus {
          width: 100%; }
        body .navigation #search .icon {
          position: absolute;
          padding-top: 0.05em;
          padding-left: 0.5em;
          z-index: 2; }
    body a {
      color: #000; }
    body #content {
      position: fixed;
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 3%;
      width: 100%;
      height: 30vh;
      z-index: -1; }
      body #content .banner {
        display: inline-flex;
        flex-direction: column;
        margin-top: 0px;
        background: url(../assets/community-members-background.jpg);
        filter: brightness(100%);
        opacity: 0.8;
        width: 100%;
        height: 85%; }
        body #content .banner .banner-back {
          display: inline-flex;
          flex-direction: column;
          justify-content: center;
          background-color: black;
          z-index: -2;
          opacity: 0.5;
          height: 100%; }
          body #content .banner .banner-back .banner-head h1 {
            font-weight: lighter;
            font-size: 4.5em; }
          body #content .banner .banner-back .banner-desc h2 {
            font-size: 2em; }
      body #content .members {
        z-index: -3;
        position: fixed;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        overflow-y: auto;
        margin-top: 35vh; }
        body #content .members .members-title {
          display: inline-flex;
          flex-wrap: wrap;
          justify-content: center;
          margin-top: 6vh; }
          body #content .members .members-title h2 {
            font-size: 3em;
            font-weight: normal; }
        body #content .members .member-tiles-container {
          display: inline-flex;
          justify-content: center;
          flex-wrap: wrap;
          margin: 0 auto;
          height: 25vh;
          width: 75%; }
          body #content .members .member-tiles-container .member-tiles {
            margin-right: 0.2%;
            margin-left: 0.2%;
            display: inline-flex;
            flex-direction: column;
            width: 19%;
            min-width: 200px;
            min-height: 190px; }
            body #content .members .member-tiles-container .member-tiles .member-tile-pic {
              padding-top: 2%;
              display: inline-flex;
              justify-content: center;
              width: 100%; }
              body #content .members .member-tiles-container .member-tiles .member-tile-pic .usr-thumb {
                border-radius: 50%;
                width: 50%;
                height: 50%; }
            body #content .members .member-tiles-container .member-tiles .member-tile-details {
              display: inline-flex;
              justify-content: center;
              flex-direction: column;
              flex-wrap: wrap;
              padding-top: 10%; }
              body #content .members .member-tiles-container .member-tiles .member-tile-details .member-name {
                display: inline-flex;
                justify-content: center;
                flex-wrap: wrap;
                font-size: 1.2em;
                font-weight: bold; }
              body #content .members .member-tiles-container .member-tiles .member-tile-details .member-email {
                display: inline-flex;
                justify-content: center;
                padding-top: 1%;
                flex-wrap: wrap;
                font-size: 0.8em; }
        body #content .members .load-more-div {
          display: inline-flex;
          justify-content: center;
          flex-wrap: wrap;
          position: fixed;
          margin-top: 2vh;
          margin-left: 80%; }
          body #content .members .load-more-div .btn-load-more {
            background-color: #1E90FF;
            border: none;
            height: 3em;
            border-radius: 8px; }
          body #content .members .load-more-div .btn-link {
            text-decoration: none;
            height: 100%;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            margin: 4px 2px;
            font-size: 16px;
            cursor: pointer; }
    body .footer {
      display: inline-flex;
      position: fixed;
      margin-top: 90vh;
      width: 100%;
      height: 10vh;
      background: #000;
      color: #FFF; }
      body .footer #Copyright {
        margin-right: auto;
        margin-top: 1em;
        margin-left: 5%; }
      body .footer #logo {
        margin-left: auto;
        margin-top: 1em;
        margin-right: 5%;
        width: 70px;
        height: 30px; } }
@media screen and (max-width: 1340px) and (min-width: 1100px) {
  .banner-style4, body #content .banner .banner-back .banner-head, body #content .banner .banner-back .banner-desc {
    margin: 0 auto;
    filter: brightness(100%);
    opacity: 1.0;
    z-index: -1;
    background: none; }

  .banner-font4, body #content .banner .banner-back .banner-head h1, body #content .banner .banner-back .banner-desc h2 {
    display: inline-flex;
    justify-content: center;
    margin: 0 auto;
    color: #FFFFFF; }

  body {
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    flex-wrap: wrap; }
    body .navigation {
      position: fixed;
      margin-left: 5%;
      display: inline-flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      width: 100%;
      margin-top: 1%;
      margin-bottom: 1%; }
      body .navigation #n-primary {
        display: inline-flex;
        flex-wrap: wrap;
        z-index: 2;
        padding-bottom: 0.6%;
        width: 60%; }
        body .navigation #n-primary .nav-divs {
          display: inline-flex;
          margin-right: 2.5%;
          margin-left: 2.5%; }
          body .navigation #n-primary .nav-divs .nav-items {
            font-size: 70%;
            text-decoration: none; }
      body .navigation #search {
        margin-left: 65%;
        margin-top: -0.5%;
        height: 1.5em;
        position: fixed;
        z-index: 2;
        display: inline-flex;
        flex-wrap: wrap;
        /* When the input field gets focus, change its width to 100% */ }
        body .navigation #search input[type=text] {
          width: 130px;
          height: 100%;
          z-index: 1;
          padding-left: 3em;
          font-size: 70%;
          border-style: solid;
          border-width: 1px;
          border-radius: 10px;
          -webkit-transition: width 0.4s ease-in-out;
          transition: width 0.4s ease-in-out; }
        body .navigation #search input[type=text]:focus {
          width: 100%; }
        body .navigation #search .icon {
          position: absolute;
          padding-top: 0.03em;
          padding-left: 0.5em;
          z-index: 2; }
    body a {
      color: #000; }
    body #content {
      position: fixed;
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 2%;
      width: 100%;
      height: 30vh;
      z-index: -1; }
      body #content .banner {
        display: inline-flex;
        flex-direction: column;
        margin-top: 0px;
        background: url(../assets/community-members-background.jpg);
        filter: brightness(100%);
        opacity: 0.8;
        width: 100%;
        height: 85%; }
        body #content .banner .banner-back {
          display: inline-flex;
          flex-direction: column;
          justify-content: center;
          background-color: black;
          z-index: -2;
          opacity: 0.5;
          height: 100%; }
          body #content .banner .banner-back .banner-head h1 {
            font-weight: lighter;
            font-size: 3.5em; }
          body #content .banner .banner-back .banner-desc h2 {
            font-size: 1em; }
      body #content .members {
        z-index: -3;
        position: fixed;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        overflow-y: auto;
        margin-top: 35vh; }
        body #content .members .members-title {
          display: inline-flex;
          flex-wrap: wrap;
          justify-content: center;
          margin-top: 6vh; }
          body #content .members .members-title h2 {
            font-size: 3em;
            font-weight: normal; }
        body #content .members .member-tiles-container {
          display: inline-flex;
          justify-content: center;
          flex-wrap: wrap;
          margin: 0 auto;
          height: 25vh;
          width: 75%; }
          body #content .members .member-tiles-container .member-tiles {
            margin-right: 0.2%;
            margin-left: 0.2%;
            display: inline-flex;
            flex-direction: column;
            width: 19%;
            min-width: 200px;
            min-height: 190px; }
            body #content .members .member-tiles-container .member-tiles .member-tile-pic {
              padding-top: 2%;
              display: inline-flex;
              justify-content: center;
              width: 100%; }
              body #content .members .member-tiles-container .member-tiles .member-tile-pic .usr-thumb {
                border-radius: 50%;
                width: 50%;
                height: 50%; }
            body #content .members .member-tiles-container .member-tiles .member-tile-details {
              display: inline-flex;
              justify-content: center;
              flex-direction: column;
              flex-wrap: wrap;
              padding-top: 10%; }
              body #content .members .member-tiles-container .member-tiles .member-tile-details .member-name {
                display: inline-flex;
                justify-content: center;
                flex-wrap: wrap;
                font-size: 1.2em;
                font-weight: bold; }
              body #content .members .member-tiles-container .member-tiles .member-tile-details .member-email {
                display: inline-flex;
                justify-content: center;
                padding-top: 1%;
                flex-wrap: wrap;
                font-size: 0.8em; }
        body #content .members .load-more-div {
          display: inline-flex;
          justify-content: center;
          flex-wrap: wrap;
          position: fixed;
          margin-top: 2vh;
          margin-left: 85%; }
          body #content .members .load-more-div .btn-load-more {
            background-color: #1E90FF;
            border: none;
            height: 3em;
            border-radius: 8px; }
          body #content .members .load-more-div .btn-link {
            text-decoration: none;
            height: 100%;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            margin: 4px 2px;
            font-size: 16px;
            cursor: pointer; }
    body .footer {
      display: inline-flex;
      position: fixed;
      margin-top: 90vh;
      width: 100%;
      height: 10vh;
      background: #000;
      color: #FFF; }
      body .footer #Copyright {
        margin-right: auto;
        margin-top: 1em;
        margin-left: 5%; }
      body .footer #logo {
        margin-left: auto;
        margin-top: 1em;
        margin-right: 5%;
        width: 70px;
        height: 30px; } }
@media screen and (max-width: 414px) and (min-width: 312px) {
  .banner-style5, body #content .banner .banner-back .banner-head, body #content .banner .banner-back .banner-desc {
    margin: 0 auto;
    filter: brightness(100%);
    opacity: 1.0;
    z-index: -1;
    background: none; }

  .banner-font5, body #content .banner .banner-back .banner-head h1, body #content .banner .banner-back .banner-desc h2 {
    display: inline-flex;
    justify-content: center;
    margin: 0 auto;
    color: #FFFFFF; }

  body {
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    flex-wrap: wrap; }
    body .navigation {
      position: fixed;
      margin-left: 5%;
      display: inline-flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      width: 100%;
      margin-top: 1%;
      margin-bottom: 1%; }
      body .navigation #n-primary {
        display: inline-flex;
        flex-wrap: wrap;
        z-index: 2;
        padding-bottom: 0.6%;
        width: 60%; }
        body .navigation #n-primary .nav-divs {
          display: inline-flex;
          margin-right: 2.5%;
          margin-left: 2.5%; }
          body .navigation #n-primary .nav-divs .nav-items {
            font-size: 80%;
            text-decoration: none; }
      body .navigation #search {
        margin-left: 60%;
        margin-top: 0%;
        height: 1.5em;
        position: fixed;
        z-index: 2;
        display: inline-flex;
        flex-wrap: wrap;
        /* When the input field gets focus, change its width to 100% */ }
        body .navigation #search input[type=text] {
          width: 60%;
          height: 100%;
          z-index: 1;
          padding-left: 3em;
          font-size: 50%;
          border-style: solid;
          border-width: 1px;
          border-radius: 10px;
          -webkit-transition: width 0.4s ease-in-out;
          transition: width 0.4s ease-in-out; }
        body .navigation #search input[type=text]:focus {
          width: 70%; }
        body .navigation #search .icon {
          position: absolute;
          padding-top: 0.05em;
          padding-left: 0.5em;
          z-index: 2; }
    body a {
      color: #000; }
    body #content {
      position: fixed;
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 15%;
      width: 100%;
      height: 30vh;
      z-index: -1; }
      body #content .banner {
        display: inline-flex;
        flex-direction: column;
        margin-top: 0px;
        background: url(../assets/community-members-background.jpg);
        filter: brightness(100%);
        opacity: 0.8;
        width: 100%;
        height: 90%; }
        body #content .banner .banner-back {
          display: inline-flex;
          flex-direction: column;
          justify-content: center;
          background-color: black;
          z-index: -2;
          opacity: 0.5;
          height: 100%; }
          body #content .banner .banner-back .banner-head h1 {
            font-weight: lighter;
            font-size: 1.5em; }
          body #content .banner .banner-back .banner-desc h2 {
            font-size: 0.6em; }
      body #content .members {
        z-index: -3;
        position: fixed;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        overflow-y: auto;
        margin-top: 35vh; }
        body #content .members .members-title {
          display: inline-flex;
          flex-wrap: wrap;
          justify-content: center;
          margin-top: 6vh; }
          body #content .members .members-title h2 {
            font-size: 2em;
            font-weight: normal; }
        body #content .members .member-tiles-container {
          display: inline-flex;
          justify-content: center;
          flex-wrap: wrap;
          margin: 0 auto;
          height: 25vh;
          width: 75%; }
          body #content .members .member-tiles-container .member-tiles {
            margin-right: 0.2%;
            margin-left: 0.2%;
            display: inline-flex;
            flex-direction: column;
            width: 19%;
            min-width: 210px;
            min-height: 190px; }
            body #content .members .member-tiles-container .member-tiles .member-tile-pic {
              padding-top: 2%;
              display: inline-flex;
              justify-content: center;
              width: 100%; }
              body #content .members .member-tiles-container .member-tiles .member-tile-pic .usr-thumb {
                border-radius: 50%;
                width: 50%;
                height: 50%; }
            body #content .members .member-tiles-container .member-tiles .member-tile-details {
              display: inline-flex;
              justify-content: center;
              flex-direction: column;
              flex-wrap: wrap;
              padding-top: 10%; }
              body #content .members .member-tiles-container .member-tiles .member-tile-details .member-name {
                display: inline-flex;
                justify-content: center;
                flex-wrap: wrap;
                font-size: 1.2em;
                font-weight: bold; }
              body #content .members .member-tiles-container .member-tiles .member-tile-details .member-email {
                display: inline-flex;
                justify-content: center;
                padding-top: 1%;
                flex-wrap: wrap;
                font-size: 0.8em; }
        body #content .members .load-more-div {
          display: inline-flex;
          justify-content: center;
          flex-wrap: wrap;
          position: fixed;
          margin-top: -17vh;
          margin-left: 0%; }
          body #content .members .load-more-div .btn-load-more {
            background-color: #1E90FF;
            border: none;
            height: 2em;
            border-radius: 8px; }
          body #content .members .load-more-div .btn-link {
            text-decoration: none;
            height: 100%;
            width: 50%;
            color: white;
            padding: 2px 4px;
            text-align: center;
            text-decoration: none;
            margin: 2px 1px;
            font-size: 12px;
            cursor: pointer; }
    body .footer {
      display: inline-flex;
      position: fixed;
      margin-top: 90vh;
      width: 100%;
      height: 10vh;
      background: #000;
      color: #FFF; }
      body .footer #Copyright {
        margin-right: auto;
        margin-top: 1em;
        margin-left: 5%; }
      body .footer #logo {
        margin-left: auto;
        margin-top: 1em;
        margin-right: 5%;
        width: 70px;
        height: 30px; } }
@media screen and (max-width: 1099px) and (min-width: 415px) {
  .banner-style6, body #content .banner .banner-back .banner-head, body #content .banner .banner-back .banner-desc {
    margin: 0 auto;
    filter: brightness(100%);
    opacity: 1.0;
    z-index: -1;
    background: none; }

  .banner-font6, body #content .banner .banner-back .banner-head h1, body #content .banner .banner-back .banner-desc h2 {
    display: inline-flex;
    justify-content: center;
    margin: 0 auto;
    color: #FFFFFF; }

  body {
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    flex-wrap: wrap; }
    body .navigation {
      position: fixed;
      margin-left: 5%;
      display: inline-flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      width: 100%;
      margin-top: 1%;
      margin-bottom: 1%; }
      body .navigation #n-primary {
        display: inline-flex;
        flex-wrap: wrap;
        z-index: 2;
        padding-bottom: 0.6%;
        width: 65%; }
        body .navigation #n-primary .nav-divs {
          display: inline-flex;
          margin-right: 2.5%;
          margin-left: 2.5%; }
          body .navigation #n-primary .nav-divs .nav-items {
            font-size: 55%;
            text-decoration: none; }
      body .navigation #search {
        margin-left: 65%;
        margin-top: -0.5%;
        height: 1.5em;
        position: fixed;
        z-index: 2;
        display: inline-flex;
        flex-wrap: wrap;
        /* When the input field gets focus, change its width to 100% */ }
        body .navigation #search input[type=text] {
          width: 80px;
          height: 100%;
          font-size: 55%;
          z-index: 1;
          padding-left: 3em;
          border-style: solid;
          border-width: 1px;
          border-radius: 10px;
          -webkit-transition: width 0.4s ease-in-out;
          transition: width 0.4s ease-in-out; }
        body .navigation #search input[type=text]:focus {
          width: 100%; }
        body .navigation #search .icon {
          position: absolute;
          padding-top: 0.05em;
          padding-left: 0.5em;
          z-index: 2; }
    body a {
      color: #000; }
    body #content {
      position: fixed;
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 4%;
      width: 100%;
      height: 30vh;
      z-index: -1; }
      body #content .banner {
        display: inline-flex;
        flex-direction: column;
        margin-top: 0px;
        background: url(../assets/community-members-background.jpg);
        filter: brightness(100%);
        opacity: 0.8;
        width: 100%;
        height: 85%; }
        body #content .banner .banner-back {
          display: inline-flex;
          flex-direction: column;
          justify-content: center;
          background-color: black;
          z-index: -2;
          opacity: 0.5;
          height: 100%; }
          body #content .banner .banner-back .banner-head h1 {
            font-weight: lighter;
            font-size: 2.5em; }
          body #content .banner .banner-back .banner-desc h2 {
            font-size: 0.9em; }
      body #content .members {
        z-index: -3;
        position: fixed;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        overflow-y: auto;
        margin-top: 35vh; }
        body #content .members .members-title {
          display: inline-flex;
          flex-wrap: wrap;
          justify-content: center;
          margin-top: 6vh; }
          body #content .members .members-title h2 {
            font-size: 2.5em;
            font-weight: normal; }
        body #content .members .member-tiles-container {
          display: inline-flex;
          justify-content: center;
          flex-wrap: wrap;
          margin: 0 auto;
          height: 25vh;
          width: 75%; }
          body #content .members .member-tiles-container .member-tiles {
            margin-right: 0.2%;
            margin-left: 0.2%;
            display: inline-flex;
            flex-direction: column;
            width: 19%;
            min-width: 200px;
            min-height: 190px; }
            body #content .members .member-tiles-container .member-tiles .member-tile-pic {
              padding-top: 2%;
              display: inline-flex;
              justify-content: center;
              width: 100%; }
              body #content .members .member-tiles-container .member-tiles .member-tile-pic .usr-thumb {
                border-radius: 50%;
                width: 50%;
                height: 50%; }
            body #content .members .member-tiles-container .member-tiles .member-tile-details {
              display: inline-flex;
              justify-content: center;
              flex-direction: column;
              flex-wrap: wrap;
              padding-top: 10%; }
              body #content .members .member-tiles-container .member-tiles .member-tile-details .member-name {
                display: inline-flex;
                justify-content: center;
                flex-wrap: wrap;
                font-size: 1.2em;
                font-weight: bold; }
              body #content .members .member-tiles-container .member-tiles .member-tile-details .member-email {
                display: inline-flex;
                justify-content: center;
                padding-top: 1%;
                flex-wrap: wrap;
                font-size: 0.8em; }
        body #content .members .load-more-div {
          display: inline-flex;
          justify-content: center;
          flex-wrap: wrap;
          position: fixed;
          margin-top: -17vh;
          margin-left: 0%; }
          body #content .members .load-more-div .btn-load-more {
            background-color: #1E90FF;
            border: none;
            height: 2em;
            border-radius: 8px; }
          body #content .members .load-more-div .btn-link {
            text-decoration: none;
            height: 100%;
            width: 50%;
            color: white;
            padding: 2px 4px;
            text-align: center;
            text-decoration: none;
            margin: 2px 1px;
            font-size: 12px;
            cursor: pointer; }
    body .footer {
      display: inline-flex;
      position: fixed;
      margin-top: 90vh;
      width: 100%;
      height: 10vh;
      background: #000;
      color: #FFF; }
      body .footer #Copyright {
        margin-right: auto;
        margin-top: 1em;
        margin-left: 5%; }
      body .footer #logo {
        margin-left: auto;
        margin-top: 1em;
        margin-right: 5%;
        width: 70px;
        height: 30px; } }

/*# sourceMappingURL=style.css.map */
